/*Reset*/

body, ul, li{
    padding:0px;
    margin:0px;
}

li{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

a{
    display: block;
}

*{
    box-sizing: border-box;
}

/*Reset*/

/*Introdução*/

#slide_wrapper{
    overflow: hidden;
}

#slide_lista{
    display: flex;
}

.slide_item{
    flex-shrink: 0;
    width:100vw;
}

[data-control="slide"]{
    display: flex;
    justify-content: center;
    position: relative;
    top:-20px;
}

[data-control="slide"] li a{
    width: 12px;
    height: 12px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #ffffff;
    opacity: 80%;
    overflow: hidden;
    text-indent: -999px;
    margin: 0 5px;
}

[data-control="slide"] li.ativar a{
    background: #ffffff;
    opacity: 100%;
}

/*Introdução*/