/*Reset*/

body, ul, li{
    padding:0px;
    margin:0px;
}

li{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

/*Reset*/

/*Introdução*/

#slide_wrapper{
    overflow: hidden;
}

#slide_lista{
    display: flex;
}

.slide_item{
    flex-shrink: 0;
    width:100vw;
}

/*Introdução*/